@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Tenor_Sans;

}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.mantine-TextInput-input,
.mantine-Textarea-input {
  background-color: transparent;
  color: white ;
  border-color: transparent;

}

.mantine-TextInput-input::placeholder,
.mantine-Textarea-input::placeholder {
  background-color: transparent;
  font-size: 16px;
  color: #ccc; 
  
}
